body {

}

header{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

#name {
}
header h1 {

}

header nav {
    justify-items: right;
}

nav ul {

}

nav ul li {

}

#wrapper {
    display: grid;
}

.box {
    border: 1px solid rgb(21, 19, 19);
    border-radius: 3px;
    cursor: pointer;
}

footer  {

}